# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# misc
/.idea/
# misc.xml
/misc.xml
/ADSS_Group_O.iml
/../out/
/../target/
/../release/
/../lib/
/../ADSS_Group_O.iml



